{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<h2> Liste des candidats | <small> <a href="{{ path('ajouter')}}" > Ajouter </a> </h1>
</small></h2>
{% for msg in app.flashes('notice') %}
<div class="alert alert-success">
{{ msg }}
</div>
{% endfor %}

<table class="table table-hover table-striped" border="1">
<thead>
<tr>
<th> # </th>
<th> Nom & Prenom </th>
<th> Contenu </th>
<th> Date </th>
<th> </th>
</tr>
</thead>
<tbody>
{% for candidat in lesCandidats %} 
<tr>
<td> {{ candidat.id}} </td>
<td> {{ candidat.candidat | upper}} </td>
<td> {{ candidat.datec | date('d/m/Y')}} </td>
<td> {{ candidat.contenu}} </td>
<td>
<a class="btn btn-primary" href="#"> Voir </a>
<a class="btn btn-danger" href="{{ path('edit_user', {'id':candidat.id }) }}"
onclick="return confirm('Are you sure to modify{{ candidat.candidat 
}}')">Modifier</a>
<a class="btn btn-danger" href="{{ path('cand_delete', {'id':candidat.id }) }}"
onclick="return confirm('Are you sure to delete!{{ candidat.candidat 
}}')">Supprimer</a>
</td>
</tr>
{% else %}
<tr>
<td colspan="5"> Aucun abonné </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}