{% extends "base.html.twig" %}
{% block title %} 
{{parent()}} - Edit {% endblock %}
{% block titre %} {{parent()|upper}} - consultation de  {{job.getType()}} {% endblock %}
{% block body %}
<h1> entreprise {{job.getCompany()}} </h1> <br>
<h1> {{ job.getDescription()}}</h1>
<h2> Date d'expiration: {{job.getExpiresAt()|date('d-m-Y')}}</h2>
<!-- upload de l'image -->
<img src="{{ publicPath ~ job.image }}">
<h3> Candidature </h3>
{% for candidature in listCandidatures %}
<h4> Candidat </h4> <br>
<ul type="square">
<li> {{ candidature.candidat }} </li>
<li> {{ candidature.contenu }} </li>
<li> {{ candidature.datec | date('d-m-Y') }}</li>
</ul>

{% endfor %}

{% endblock %}
